h1
    text-align: center
    margin: 30px 0

form

    display: flex
    flex-direction: column
    gap: 10px

    h2
        text-align: center
        margin: 25px 0

    input
        width: 100%
        border: 1px solid #000000
        border-radius: 5px
        outline: none
        height: 30px
        margin-bottom: 10px
        font-size: 22px

    label
        margin-bottom: 10px
        font-size: 20px
        font-weight: 700

    .inputstyle
        display: flex
        gap: 10px

    #selfiedata
        display: flex
        justify-content: space-between

    #selfiedata input
        width: 66%
        background-color: #ffffff
        font-size: 22px
        font-weight: 500
        cursor: pointer
