<main>
  <h1>Registro de Condutor</h1>
  <form (ngSubmit)="submitForm(form.value)">
    <h2>Dados do Condutor:</h2>
    <div class="inputstyle">
      <label for="name">Nome:</label>
      <input type="text" id="name" name="nome" required  />
    </div>

    <div class="docdatastyle">
      <div class="docdata">
        <div class="inputdoc">
          <label for="cpf">CPF:</label>
          <input type="text" id="cpf" name="CPF" required class="docinput" />

          <label for="rg">RG:</label>
          <input type="text" id="rg" name="RG" required class="docinput" />
        </div>
      </div>

      <div class="docdata">
        <div class="inputdoc">
          <label for="fone">Fone:</label>
          <input
            type="text"
            id="telefone"
            name="phone"
            required
            class="docinput"
          />

          <label for="cnh">CNH:</label>
          <input type="text" id="cnh" name="CNH" required class="docinput" />
        </div>
      </div>
    </div>

    <div class="inputstyle">
      <label for="endereco">Endereço:</label>
      <input type="text" id="endereco" name="direcction" required />
    </div>

    <div id="selfiedata">
      <label for="selfie">Selfie com Documento:</label>
      <input type="file" id="selfie" name="selfie" accept="image/*" required />
    </div>

    <div class="submitstyle">
      <button type="submit">Registrar</button>
    </div>
  </form>
</main>
