<main>
  <section class="content-login">
    <h2>Login</h2>
    

    <form action="#">
      <label for="email">Seu Email</label>
      <input type="text" id="email" autocomplete="username"  name="email" />
    
      <label for="password">Digite sua senha</label>
      <input type="password" id="password" autocomplete="current-password" name="password" />
    
      <button type="button" (click)="loginUser()">Login</button>
    </form>
    

    <div>
      <p>Ainda não é registrado?</p>

      <a routerLink="/register">Clique aqui e inscreva-se!</a>
    </div>
  </section>
</main>
