<div class="container" *ngIf="conductor">
  <h3 class="close" (click)="closeModal()">X</h3>
  <div class="mainmodel">
    <h2>Dados Completos do Condutor</h2>
    <div class="loading-name">
      <label for="name">Nome</label>
      <input
        readonly
        class="input-loading"
        type="text"
        id="name"
        [(ngModel)]="conductor.name"
      />
    </div>
    <div class="content-camp">
      <div class="camp-name">
        <label for="cpf">CPF:</label>
        <label for="cnh">CNH:</label>
      </div>
      <div class="camp-input">
        <input
          readonly
          type="text"
          id="cpf"
          required
          class="input-content"
          maxlength="11"
          [(ngModel)]="conductor.cpf"
        />
        <input
          readonly
          type="text"
          id="cnh"
          required
          class="input-content"
          maxlength="11"
          [(ngModel)]="conductor.cnh"
        />
      </div>
      <div class="camp-name">
        <label for="rg">RG:</label>
        <label for="phone">Fone:</label>
      </div>
      <div class="camp-input">
        <input
          readonly
          type="text"
          id="rg"
          required
          class="input-content"
          [(ngModel)]="conductor.rg"
        />
        <input
          [readonly]="!isEditable"
          type="text"
          id="phone"
          required
          class="input-content input-readonly"
          [(ngModel)]="conductor.phone"
          #firstInput
          [ngClass]="{
            'input-readonly': isEditable,
            'input-content': !isEditable
          }"
        />
      </div>
    </div>

    <div class="name-address">
      <label for="address">Endereço:</label>
      <input
        [readonly]="!isEditable"
        type="text"
        id="address"
        required
        [(ngModel)]="conductor.address"
        class="input-content input-readonly"
        [ngClass]="{
          'input-readonly': isEditable,
          'input-content': !isEditable
        }"
      />
    </div>

    <div class="content-camp">
      <div class="camp-name">
        <label for="houseNumber">Número:</label>
        <label for="district">Bairro:</label>
      </div>
      <div class="camp-input">
        <input
          [readonly]="!isEditable"
          type="text"
          id="houseNumber"
          required
          class="input-content input-readonly"
          [(ngModel)]="conductor.houseNumber"
          [ngClass]="{
            'input-readonly': isEditable,
            'input-content': !isEditable
          }"
        />
        <input
          [readonly]="!isEditable"
          type="text"
          id="district"
          required
          class="input-content input-readonly"
          [(ngModel)]="conductor.district"
          [ngClass]="{
            'input-readonly': isEditable,
            'input-content': !isEditable
          }"
        />
      </div>
      <div class="camp-name">
        <label for="city">Cidade:</label>
        <label for="state">Estado:</label>
      </div>
      <div class="camp-input">
        <input
          [readonly]="!isEditable"
          type="text"
          id="city"
          required
          class="input-content input-readonly"
          [(ngModel)]="conductor.city"
          [ngClass]="{
            'input-readonly': isEditable,
            'input-content': !isEditable
          }"
        />
        <input
          [readonly]="!isEditable"
          type="text"
          id="state"
          required
          class="input-content input-readonly"
          [(ngModel)]="conductor.state"
          [ngClass]="{
            'input-readonly': isEditable,
            'input-content': !isEditable
          }"
        />
      </div>
    </div>
  </div>

  <div class="editionButton">
    <div class="changeButtons" *ngIf="!isEditable">
      <h4>Deseja alterar seus dados?</h4>
      <div class="change">
        <button (click)="enableEditing()">Sim</button>
        <button (click)="closeModal()">Não</button>
      </div>
    </div>

    <div class="changeButtons" *ngIf="isEditable">
      <h4>Deseja salvar as alterações?</h4>
      <div class="change">
        <button (click)="saveChanges()">Salvar</button>
        <button (click)="cancelChanges()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<div class="overlay"></div>
