<main class="container">
  <h2>Lista de Veículos Registrados</h2>
  <div class="content">
     <div class="data-info">
      <h4>Categoria</h4>
      <p *ngFor="let vehicle of vehicles">{{ vehicle.category.name }}</p>
    </div>
    <div class="data-info">
      <h4>Marca</h4>
      <p *ngFor="let vehicle of vehicles">{{ vehicle.mark.name }}</p>
    </div>
    <div class="data-info">
      <h4>Modelo</h4>
      <p *ngFor="let vehicle of vehicles">{{ vehicle.model }}</p>
    </div>
    <div class="data-info">
      <h4>Ano</h4>
      <p *ngFor="let vehicle of vehicles">{{ vehicle.year }}</p>
    </div>
    <div class="data-info">
      <h4>Km</h4>
      <p *ngFor="let vehicle of vehicles">{{ vehicle.km }}</p>
    </div>
    <div class="data-info">
      <h4>Preço</h4>
      <p *ngFor="let vehicle of vehicles">
        {{ vehicle.price | currency : "BRL" : "symbol" : "1.2-2" }}
      </p>
    </div>
    <div class="data-info">
      <h4 class="edit">Edit e Delete</h4>

      <div class="images">
        <div class="list">
          <a
            class="btn btn-primary"
            (click)="openEditModal(vehicle)"
           *ngFor="let vehicle of vehicles"
          >
            <img src="../../../../assets/images/list.svg" alt="" />
          </a>
        </div>
        <div class="trash">
          <a
            class="btn btn-primary"
            (click)="deleteVehicle(vehicle)"
           *ngFor="let vehicle of vehicles"
          >
            <img src="../../../../assets/images/trash.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
