h2
    text-align: center
    margin: 30px 0

form
    display: flex
    flex-direction: column
    align-items: center
  

    input
        border: 1px solid #000000
        border-radius: 5px
        outline: none
        height: 30px
        margin-bottom: 10px
        font-size: 22px

    label
        margin-bottom: 10px
        font-size: 20px
        font-weight: 700

    #submit
        width: 20%
        height: 100%
        margin: 20px 0
        cursor: pointer
        font-size: 20px
        padding: 6px
        font-weight: 700

    .formvehicledata
        display: flex
        gap: 15px

        .datastyle

            .vehicledata
                display: flex
                gap: 10px
                justify-content: space-between

                select
                    width: 40%
                    font-size: 18px

    .photodata
        width: 100%
        display: flex
        justify-content: space-between
        margin-bottom: 5px

        .inputphoto
            width: 60%
            background-color: #ffffff
            font-size: 22px
            font-weight: 500
            cursor: pointer
