<main class="container">
  <h2>Registro de Veículo:</h2>

  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="formvehicledata">
      <div class="datastyle">
        <div class="vehicledata">
          <label for="plate">Placa:</label>
          <input type="text" id="plate" formControlName="plate" maxlength="7" required />
        </div>
        <div class="vehicledata">
          <label for="renavam">Renavam:</label>
          <input type="text" id="renavam" formControlName="renavam" maxlength="11" required />
        </div>
        <div class="vehicledata">
          <label for="markId">Marca:</label>
          <select id="markId" formControlName="markId" required>
            <option value="" disabled selected>Selecione uma marca</option>
            <option *ngFor="let mark of marks" [value]="mark.id">{{ mark.name }}</option>
          </select>
        </div>
        <div class="vehicledata">
          <label for="km">km:</label>
          <input type="text" id="km" formControlName="km" required />
        </div>

        <div class="vehicledata">
          <label for="categoryId">Categoria:</label>
          <select id="categoryId" formControlName="categoryId" required>
            <option value="" disabled selected>Selecione uma categoria</option>
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="datastyle">
        <div class="vehicledata">
          <label for="chassis">Chassi:</label>
          <input type="text" id="chassis" formControlName="chassis" maxlength="17" required />
        </div>
        <div class="vehicledata">
          <label for="uf">UF:</label>
          <input type="text" id="uf" formControlName="uf" required />
        </div>
        <div class="vehicledata">
          <label for="model">Modelo:</label>
          <input type="text" id="model" formControlName="model" required />
        </div>

        <div class="vehicledata">
          <label for="year">Ano:</label>
          <input type="text" id="year" formControlName="year" required />
        </div>

        <div class="vehicledata">
          <label for="price">Preço:</label>
          <input type="text" id="price" formControlName="price" required/>
         
        </div>
      </div>
    </div>

    <h2>Fotos do Veículo:</h2>

    <div class="photo">
      <div class="photodata">
        <label for="allphotos" class="allphotos"
          >Adicione as seguintes fotos do veículo:</label
        >
        <label for="allphotos" class="allphotos">
          Dianteira, Traseira, Laterais Direita e Esquerda, Bancos Dianteiros,
          Bancos traseiros, Painel e Hodômetro </label
        ><br />
        <input
          type="file"
          class="allphotos"
          id="allphotos"
          name="foto_placa"
          accept="image/*"
          required
          class="inputphoto"
          multiple
        />
      </div>
    </div>
    <div class="submitstyle">
      <button type="submit">Enviar</button>
    </div>
  </form>
</main>
