<div class="container" *ngIf="vehicle">
  <h3 class="close" (click)="closeModal()">X</h3>
  <div class="mainmodel">
    <h2>Dados do Condutor</h2>
    <div class="content-camp-left">
      <div class="camp-name-left">
        <label for="plate">Placa:</label>
        <label for="renavam">Renavam:</label>
        <label for="mark">Marca:</label>
        <label for="km">KM:</label>
        <label for="uf">Estado:</label>
      </div>
      <div class="camp-input-left">
        <input
          readonly
          type="text"
          id="plate"
          required
          class="input-content"
          maxlength="11"
          [(ngModel)]="vehicle.plate"
        />
        <input
          readonly
          type="text"
          id="renavam"
          required
          class="input-content"
          maxlength="11"
          [(ngModel)]="vehicle.renavam"
        />
        <input
          readonly
          type="text"
          id="mark"
          required
          class="input-content"
          maxlength="11"
          [value]="vehicle.mark.name"
        />
        <input
        [readonly]="!isEditable"
          type="text"
          id="km"
          required
          class="input-content"
          maxlength="11"
          [(ngModel)]="vehicle.km"
          #firstInput
          [ngClass]="{
            'input-readonly': isEditable,
            'input-content': !isEditable
          }"
        />
        <input
        [readonly]="!isEditable"
          type="text"
          id="uf"
          required
          class="input-content"
          [(ngModel)]="vehicle.uf"
          [ngClass]="{
            'input-readonly': isEditable,
            'input-content': !isEditable
          }"
        />
      </div>
      <div class="content-camp-right">
        <div class="camp-name-right">
          <label for="model">Modelo:</label>
          <label for="price">Preço:</label>
          <label for="category">Categoria:</label>
          <label for="chassis">Chassi:</label>
          <label for="year">Ano:</label>
        </div>
        <div class="camp-input-right">
          <input
            readonly
            type="text"
            id="model"
            required
            class="input-content"
            [(ngModel)]="vehicle.model"
          />
          <input
          [readonly]="!isEditable"
            type="text"
            id="price"
            required
            class="input-content"
            [(ngModel)]="vehicle.price"
            [ngClass]="{
              'input-readonly': isEditable,
              'input-content': !isEditable
            }"
          />
          <input
            readonly
            type="text"
            id="category"
            required
            class="input-content"
            [value]="vehicle.category.name"
          />
          <input
            readonly
            type="text"
            id="chassis"
            required
            class="input-content"
            [(ngModel)]="vehicle.chassis"
          />
          <input
            readonly
            type="text"
            id="year"
            required
            class="input-content input-last"
            [(ngModel)]="vehicle.year"
          />
        </div>
      </div>
    </div>

    <div class="editionButton">
      <div class="changeButtons" *ngIf="!isEditable">
        <h4>Deseja alterar seus dados?</h4>
        <div class="change">
          <button (click)="enableEditing()">Sim</button>
          <button (click)="closeModal()">Não</button>
        </div>
      </div>

      <div class="changeButtons" *ngIf="isEditable">
        <h4>Deseja salvar as alterações?</h4>
        <div class="change">
          <button (click)="saveChanges()">Salvar</button>
          <button (click)="cancelChanges()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="overlay"></div>
